<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name -->
        <div class="col-lg-6">
            <h1>BililaResto</h1>
            <p>GOOD FOOD, GOOD EAT</p>
        </div>
        <!-- nav -->
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2">
            <a href="#" target="blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="blank"><i class="bi bi-youtube"></i></a>
        
        </div>
    </div>
</div>