<div class="container" mt-5 mb-5>
    <h1>Contact</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
               <input type="text" class="form-control" placeholder="Enter first name">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter last name">
             </div>
             <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder ="Enter email ID">
             </div>
             <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder ="Enter mobile">
             </div>
             <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark">Submit</button>
            </div>
            </div>
    </form>
</div>