<div class="container mt-5 mb-5">

        <h1 class="text-center">About</h1>
        <h3>Bienvenue dans notre Restaurant </h3>
        
        <p>Idéalement placé au beau milieu de Tours centre. 
           <br/>BILILA restaurant vous propose une cuisine et des desserts égyptiens originaux. 
           <br/>Nos assiettes principales comprennent du Molokhiia, des Tajines et du Koshary, 
           et nos desserts comprennent de la Bilila égyptienne et du Riz au lait.
           <br/>Toute l’équipe de BILILA se propose de vous accueillir, en intérieur ou à l’extérieur lorsque la saison le permet! 
           <br/>BILILA est également utilisé comme petit-déjeuner.
           <br/> Ouvert 7j/7, de 12h à 23h.
           <br/>A très vite!</p>

</div>