<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-lg-6" *ngIf="menuData">
            <a routerLink="../../menu" class="btn btn-5m btn-dark mb-3">Back</a>
            <img src="{{menuData[0].foodImg}}" width="100%"/>
            <h1 class="mt-3">{{menuData[0].foodName}}</h1>
            <p>{{menuData[0].foodDetails}}</p>
            <p>{{menuData[0].foodPrice | currency : 'EUR'}}</p>
        </div>

        <div class="col-lg-6">
            <h1>Enter Your Details</h1>

            <form>

                <input type="text" class="form-control" placeholder="Enter Your Full Name" />
                <input type="text" class="form-control" placeholder="Enter Your Mobile" />
                <textarea class="form-control" placeholder="Enter your Address"></textarea>
                <button class="btn btn-md btn-dark mt-3">Place Order</button>

            </form>

        </div>

    </div>
</div>