.banner
{
    background-image: url('../../../assets/img/borba.jpg');
    height: 600px;
    background-position: center;
    background-size:cover;
}
.banner h1
{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    /* top: 30%;
    left: 20%; */
    /* position: absolute; */
} 
.content .content h1
{
    top : 30%;
    left: 20%;
    font-size: 30px;
    font-weight: bold;
    /* position: absolute; */
}

.content a 
{
    text-decoration: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.content a:hover 
{
    background-color: var(--primary-color);
    color: #fff;
}
.stepBox
{
   background-color: #000; 
   padding: 20px 20px;
   border-radius: 5px;
   text-align: center;
}
.stepBox h1
{   
    font-size: 50px;
    font-weight: bold;
    color:var(--primary-color);
}
.stepBox p 
{
    font-size: 20px;
    font-style: italic;
    color: #fff;
}
.highlight
{
    color: var(--primary-color);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.foodbox
{
    padding: 10px 5px;
}
.foodbox img
{
    width:100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1
{
    font-size: 10px;
    margin-top: 20px;
    font-weight: bold;
}
.viewmorebtn
{
   text-decoration: none;
   background-color: var(--primary-color); 
   color: #000;
   padding: 10px 10px;
   border-radius: 5px;
   font-size: 18px;
}