/* You can add global styles to this file, and also import other style files */
*
{
    padding : 0;
    margin : 0;
}
:root
{
    --primary-color:#3FC060;
    --secondary-color: #162328;
}
body
{   
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}